# Note: this doesn't include tensorflow or tensorflow-gpu because the package you need to install
# depends on your platform. It is assumed you have already installed tensorflow.
falcon==1.4.1
inflect==2.1.0
librosa==0.6.2
matplotlib==3.0.2
numpy==1.16.0
scipy==1.2.0
tqdm==4.29.1
Unidecode==1.0.23
